[Unit]
Description=KOI-net Slack Sensor Node Service
After=network.target

[Service]
WorkingDirectory=/home/dev/koi-net-slack-sensor-node
ExecStart=/home/dev/koi-net-slack-sensor-node/.venv/bin/python3 -m koi_net_slack_sensor_node
Restart=always

[Install]
WantedBy=multi-user.target